* {
    box-sizing: border-box;
    margin: auto;
}
.image{
    width: 1440px; 
    height: 600px ;
}
.all {
    width: 1440px;
}
.base {
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 74px;
    padding: 17px 250px;
    margin-bottom: 79px;
}
.escape {
    display: flex;
    font-size: 26px;
    font-family: "Oxygen";
}
.buttons{
    width: 376px;
    display: flex;
    font-family: "Oxygen";
    font-size: 12px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.head {
    margin-bottom: 84px;   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title {
    height: 51px;
    font-family: "Lora"  ;
    font-size: 50px ;
}

.comment{
    color: #2e2e2e;
    height: 20px;
    margin-top: 20px;
    font-family: "Oxygen";
    font-size: 17px;
    opacity: 0.66;
}
.text {
    font-family: "Oxygen";
    font-size: 24px;
    color: #101315;
    padding: 140px 240px;
}
footer {
    display: flex;
    flex-direction: row;
    padding: 28px 240px;
    height: 89px;

}
.opacity {
    opacity: 0.60;
    color: #FFFFFF;
}
.footer {
    background-image: url("/static/images/footer.jpg");
    background-position: 1%;
}
#escape {
    color: #FFFFFF;
    font-family: "Lora";
    font-size: 26px;
}